body {
  background-image: url("../images/Background3.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: cover;
 }

 

#leagueTable{
  background-color: white;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#leagueTable thead tr{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

#leagueTable th,
#leagueTable td{
  padding: 12px 15px;
}

#leagueTable th{
    background-color: #333;
    color: white;
}

#leagueTable tbody tr{
  border-bottom: thin solid #dddddd;
}

#leagueTable tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

#leagueTable tbody tr:last-of-type{
    border-bottom: 2px solid #333;
}

#leagueTable tbody tr.active-row{
    font-weight: bold;
    color: #111;
}

#leagueTable tr:hover{
    background-color: #f3f3f3;
}
  
  
  li a {
    display: block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.formStyle {
  color: white;
  font-family: sans-serif;
  margin: 10px auto;
	max-width: 400px;
	padding: 12px 12px 12px 12px;
}

.formStyle li{
  padding: 0;
	display: block;
	list-style: none;
	margin: 10px 5px 0 0;
}

.formStyle label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
}


